body {
  margin: 0;
  padding: 0;
}

.bkg {
  background-image: linear-gradient(to top left, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  height: 800px;
}

.title p {
  -webkit-font-smoothing:antialiased;
  margin: 0;
  font-size: 92px;
  letter-spacing: 2.4px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 0 black,
               0 2px 0 black, 
               0 3px 0 black,
               0 4px 0 black,
               0 5px 0 black,
               0 6px 0 black,
               0 7px 0 black,
               0 8px 0 black,
               0 9px 0 black,
               0 10px 0 black,
               0 11px 0 black,
               0 12px 0 black,
               0 13px 0 black,
               0 14px 0 black,
               0 15px 0 black;
}

.slogan {
  height: 204px;
  width: 49%;
  margin: 90px auto;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(226deg, transparent 1.5em, white 0)
}

.slogan p {
  color: #008002;
  margin: 0%;
  padding: 36px;
  vertical-align: middle;
  font-size: 24px;
}

.slogan::before{
  content: "";
  position: absolute;
  right: -1px;
  top: 0px;
  background: linear-gradient(136deg, transparent 56%, grey);
  width: 36px;
  height: 34px;
  transform: rotate(90deg);
}

.imgs {
  display: flex;
  justify-content: center;
}

.firstImg, .secondImg, .thirdImg {
  height: 200px;
  width: 300px;
  margin: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 9px white;
  box-shadow: 2px 1px 6px #f0edf1;
}

.firstImg {
  background: url(../images/empire-state.png)
}

.secondImg {
  background: url(../images/midtown.png)
}

.thirdImg {
  background: url(../images/liberty.png)
}